h1{
    text-align: center;
    text-transform: capitalize;
    border: 2px solid black;
    border-radius: 10px;
    color: #d3c557;
    background-color:black;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(#d3c557);
    color: rgb(232, 217, 217);
       }
    
       body{
    margin: 0px;
    padding: 0px;
    }
    .header{
        background-color: rgb(0, 0, 0);
        height: 80px;
        margin: 10px;
           }
     nav ul li{
            list-style-type: none;
            display: inline-block;
            padding: 10px;
           }
     ul li a{
            color: #d3c557;
            letter-spacing: 0.1rem;
           }
     ul li a:hover{
            color: aliceblue;
            text-decoration: underline;
           }
     .menu li{
            float: left;
            padding: 35px;
           }
     .menu li a{
            text-decoration: none;
           }
     form{
            padding: 35px;
            text-align: right;
           }
     input[type="search"]{
            font-size: 17px;
           }

        button {
            border:0;
            background-color: transparent;
            color: #d3c557;

           background: black;
            padding: 20px 10px;
            border-radius: 15px;
            cursor: pointer; 
                 
      
                }  
                
        button::after
                  {
          /*  content: "";
            width: 20px;
            height: 15px;
            background: linear-gradient(225deg,#27d86c 0%,#26caf8 50%,#c625d0 100%);
            position: absolute;
        top: -50px;
        left:-100px;
        z-index: -1;  */
                   
                   }

     button:hover::after {
      transform: rotate(100deg);

     }
     button:hover {
      transform: translate(0,-6px);
     }
